    /*  Import Fonts and Reset CSS */

    @import url(https://fonts.googleapis.com/css?family=Open+Sans);
    @import url(https://fonts.googleapis.com/css?family=Bree+Serif);


    :root{
        --win-back : #f7f0d8;
        --win-font : #202c2a;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    input[type=checkbox]{
        width: auto !important;
        margin: auto;
    }
/*
    input[type=date]{
        max-width: 150px;
    }
*/
    input, select, textarea{
        padding: 10px;
        margin: 10px;
        min-width: 30px;;
    }

    body {
        background: #212121;
/*        font-size:22px;*/
        line-height: 32px;
        margin: 0;
        padding: 0;
        word-wrap:break-word !important;
        font-family: 'Open Sans', sans-serif;
    }

    button{
        cursor: pointer;
        margin: 10px;
        padding: 10px;
    }

    table {
        margin: 10px;
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 97.5%;
    }

    td, th {
/*        border: 1px solid #dddddd;*/
        text-align: left;
        padding: 5px;
        min-width: 50px;
    }

    tr td{
        cursor: pointer;
    }

    tr:hover td{
        background-color: #2e2929;
        color: rgb(223, 216, 208);
    }

    tr:nth-child(even) {
        background-color: var(--win-back);
        filter: brightness(90%);
    }    
/*
    tr:nth-child(odd) {
        filter: brightness(90%);
    }    
 */       

    fieldset{
        border-radius: 10px;
        margin: 10px;
    }

    legend{
        font-size: medium;
        font-weight: 700;
        margin-left: 10px;
        padding: 10px;
    }
    
    h1 {
        text-align:center;
        font-family: 'Bree Serif', 'serif';
    }

    label{
        cursor: pointer;
    }

    fieldset button{
        width: 98%;
    }

    /* RANGE */

    input[type="range"] {
        -webkit-appearance: none;
        background: var(--top-bar);
        border-radius: 10px;
        padding: 0;
        margin: 20px;
        border: solid 1px black;
    

    }
    

    /*  ABAS (TAB) */

    .tab-bar{
        display: flex;
    }

    .tab-screen{
        overflow: scroll;
        border: solid;
        width: 100%;
        height: 80vh;
        margin-top: 0px;
    }

    .tab-item{
        margin: 20px 0 0 0;
        padding: 15px 15px 5px 15px;
        border: rgb(10, 10, 10) solid;
        border-radius: 15px 15px 0 0;
    }

    .tab-item:hover{
     /*   background-color: #FFF8DC;*/
        cursor: pointer;
    }

    .tab-item:target{
        background-color: #3F5954;
        color: ghostwhite;
        font-size: large;
    }

    .check-tab{
        background-color: var(--top-bar);
        color: var(--top-bar-font);
    }

    .btnAdd{
        max-width: 50px;
        border-radius: 50%;
        font-size: 1.5em;
    }

    /* BADGES */
    .badge{
        display: inline-block;
        padding: 0;
        border-radius: 50%;
        background-color: rgb(201, 42, 42);
        width: 30px;
        height: 30px;
    } 
    .badge:empty{

        background-color: rgba(0, 0, 0, 0);
    }

    /* CLASSES */

    .center-itens{
        justify-content: center;
    }

    .inline{
        display: flex;
        padding: 10px;
    }

    .inline input, select, textarea{
        width: 97%;
    }

    .inline :first-child{
        min-width: 120px;
    }

    .inline label{
        text-align: right;
        width: auto;
        align-self: flex-end;
        padding: 10px;
        white-space: nowrap;
    }

    .ckBOX{
        white-space: nowrap;
        padding-top: 13px;    
        margin: 0 20px;    
    }

    .form-base{
        border-radius: 20px;
        background-color: var(--win-back);
        color: var(--win-font);
        max-width: 1200px;
        margin: auto;
        margin-top: 80px;
        padding: 30px;
    }

    #close-screen{
        position: relative;
        left: 99%;        
        color: var(--win-font);
        font-size: 1.5em;
        font-weight: 800;
        padding: 0 9px;
        border-radius: 18px;

    }

    #close-screen:hover{
        border: solid 1px;
        cursor: pointer;
        color: rgb(224, 77, 77);
    }    

    .control-size{
        display: flex;
        flex-direction: row;
        margin: 0 !important;
    }

    .control-size *{
        min-width: auto !important;
    }
/*
    .path:nth-child(even) {
        background-color: #79a04779 !important;
    }    

    .path:nth-child(odd) {
        background-color: #a3d66179 !important;
    }    
*/
/*  MOBILE  */

    @media all and (max-width : 768px) {

        fieldset button {
            width: 94%;
        }

        input[type=date]{
            max-width: none;
        }

        table{
            font-size: small;
        }

        .badge{
            padding-left: 10px;
        }

        .form-base{
            margin-top: 150px;
        }

        .control-size{
            flex-direction: column;
            width: 100% !important;
        }

        .ckBOX{
            margin: 20px auto !important;
            font-size: 1.25em;
        }

        .mobHide{
            display: none;
        }

        .inline{
            flex-direction: column;
        }

        .inline label{
            text-align: left;
            width: 98%;
        }

        .inline *{
            margin: 2px 10px;
        }

        .modal-content{
            left: 0 !important;
            right: 0 !important;
        }

        .btnAdd{
            max-width: 100%;
            border-radius: 0;
            font-size: 0.9em;
        }

        .btnAdd:before {
            content: 'Novo ';
          }

    }
