
<template>
    <style>
        #tblSize{
            max-height: 250px;
            overflow: scroll;
        }

        .center{
            width: 100%;
            text-align: center;
            font-weight: 600;
            font-size: 1.5em;
        }

    </style>

<fieldset >
    <legend>Selecione o Produto</legend>
    <div class="inline">
        <label for="edtBusca_prod">Pesquisa</label>
        <input type="text" id="edtBusca_prod" onkeypress="return getEnter(event, 'btnBusca_prod')">
        <button id="btnBusca_prod">Busca</button>
    </div>
    <div id="tblSize">
        <table id="tblAddProd"></table>
    </div>

</fieldset>

<fieldset>
    <legend>Adicionar</legend>
    <div id="inline" class="center">
        <label id="lblProd"></label>
    </div>
    <div class="inline">
        <label for="edtQtd">Qtd</label>
        <input type="text" id="edtQtd" inputmode="numeric" onkeyup="return valFloat(this)" value="0">
        <label for="edtPreco">Preço R$</label>
        <input type="text" id="edtPreco" inputmode="numeric" onkeyup="return valFloat(this)" value="0">
    </div>
    <button id="btnAdicionar">OK</button>
</fieldset>


</template>
<script>

    busca()

    function busca(){

        const tbl = document.getElementById('tblAddProd')
        tbl.innerHTML = ''
        const params = new Object;
            params.nome = document.querySelector('#edtBusca_prod').value.trim()
            params.hash = localStorage.getItem('hash');

        const myPromisse = queryDB(params,7);
        myPromisse.then((resolve)=>{
            if(resolve.trim() != ""){
                const json = JSON.parse(resolve);             
                tbl.head('Cod.|mobHide,Descrição,Preço')
                for(let i=0; i<json.length;i++){
                    tbl.plot(json[i],'id|mobHide,nome,preco','int,Upp,R$.')
                  
                }                
            }        
        })
    }

    document.querySelector('#btnBusca_prod').addEventListener('click',()=>{
        busca()
    })

    document.querySelector('#tblAddProd').addEventListener('click',(e)=>{
        
        main_data.addProd.select = e.target.parentNode.data

        document.querySelector('#lblProd').innerHTML = main_data.addProd.select.nome

        console.log(main_data.addProd.select)

/*
        data.MAX = parseFloat(data.preco)
        data.estoque = parseInt(data.estoque)       
        data.qtd = getFloat(prompt(`Digite a quantidade desejada`))
        data.qtd = data.qtd == NaN ? 0 : data.qtd                          
        const preco = getFloat(prompt(`Digite o preço de compra p/ Kg`))
        if(main_data.viewLocal.data.mode == 'motorista' && parseFloat(data.preco) < preco && main_data.viewLocal.data.limite == '1'){
            alert(`O maior preço permitido para este material é de R$${data.preco}`)
        }else{
            data.preco = preco == NaN ? 0 : preco
        }
        
    
        const params = new Object;
                params.id = 'DEFAULT'
                params.id_local = main_data.viewLocal.data.id
                params.id_prod = data.id
                params.nome = data.nome
                params.qtd = data.qtd
                params.und = data.und
                params.val_venda = data.preco
            const myPromisse = queryDB(params,36); 
            myPromisse.then((resolve)=>{
                main_data.compra.fillTemp()
                closeModal('addProd')
            })          
        


        main_data.addProd.data.addItem(data)
*/       
//        openHTML('prompt.html','pop-up','Adicione um Produto',data,[100,30])

    })

    function check(){

        if(main_data.addProd.select == undefined ){
            alert('Selecione um produto na lista acima')
            return false
        }

        if(parseFloat(document.querySelector('#edtQtd').value) <= '0'){
            alert('A quantidade não pode ser igual a 0')
            document.querySelector('#edtQtd').focus()
            return false
        }

        if(parseFloat(document.querySelector('#edtPreco').value) <= '0'){
            alert('O preço não pode ser igual a 0')
            document.querySelector('#edtPreco').focus()
            return false
        }

        if(main_data.viewLocal.data.mode == 'motorista' && main_data.viewLocal.data.limite == '1'){
            if(parseFloat(main_data.addProd.select.preco) < parseFloat(document.querySelector('#edtPreco').value)){
                alert(`O maior preço permitido para este material é de R$${main_data.addProd.select.preco}`)
                document.querySelector('#edtPreco').value = main_data.addProd.select.preco
                document.querySelector('#edtPreco').focus()
                return false
            }            
        }
        return true
    }

    document.querySelector('#btnAdicionar').addEventListener('click',()=>{
                
        if(check()){

            const params = new Object;
                params.id = 'DEFAULT'
                params.id_local = main_data.viewLocal.data.id
                params.id_prod = main_data.addProd.select.id
                params.nome = main_data.addProd.select.nome
                params.qtd = document.querySelector('#edtQtd').value
                params.und = main_data.addProd.select.und
                params.val_venda = document.querySelector('#edtPreco').value
            const myPromisse = queryDB(params,36); 
            myPromisse.then((resolve)=>{
                main_data.compra.fillTemp()
                closeModal('addProd')
            }) 

        }        
    })


</script>