
<template>
    <style>


    </style>

<fieldset>
    <legend>Selecione o Produto</legend>
    <div class="inline">
        <label for="edtBusca_prod">Descrição</label>
        <input type="text" id="edtBusca_prod" onkeypress="return getEnter(event, 'btnBusca_prod')">
        <button id="btnBusca_prod">Busca</button>
    </div>
    <table id="tblAddProd"></table>
</fieldset>


</template>
<script>

    busca()

    function busca(){

        const tbl = document.getElementById('tblAddProd')
        tbl.innerHTML = ''
        const params = new Object;
            params.nome = document.querySelector('#edtBusca_prod').value.trim()
            params.hash = localStorage.getItem('hash');

        const myPromisse = queryDB(params,7);
        myPromisse.then((resolve)=>{
            if(resolve.trim() != ""){
                const json = JSON.parse(resolve);             
                tbl.head('Cod.|mobHide,Descrição,Preço')
                for(let i=0; i<json.length;i++){
                    tbl.plot(json[i],'id|mobHide,nome,preco','int,Upp,R$.')
                  
                }                
            }        
        });
    }

    document.querySelector('#btnBusca_prod').addEventListener('click',()=>{
        busca()
    })

    document.querySelector('#tblAddProd').addEventListener('click',(e)=>{
        const data = e.target.parentNode.data
            data.estoque = parseInt(data.estoque)       
            data.qtd = parseFloat(prompt(`Digite a quantidade desejada`))
            data.qtd = data.qtd == NaN ? 0 : data.qtd          
            main_data.addProd.data.addItem(data)
    })


</script>