
<template>
    <style>


    </style>

<fieldset>
    <legend>Selecione o Produto</legend>
    <table id="tblAddProd"></table>
</fieldset>


</template>
<script>

    busca()

    function busca(){

        const tbl = document.getElementById('tblAddProd')
        tbl.innerHTML = ''
        const params = new Object;
            params.hash = localStorage.getItem('hash');

        const myPromisse = queryDB(params,7);

        myPromisse.then((resolve)=>{
            if(resolve.trim() != ""){
                const json = JSON.parse(resolve);
                
                tbl.head('Cod.|mobHide,Descrição,Preço')
                for(let i=0; i<json.length;i++){
                    tbl.plot(json[i],'id|mobHide,nome,preco','int,Upp,R$.')
                  
                }                
            }        
        });
    }

    document.querySelector('#tblAddProd').addEventListener('click',(e)=>{
        const data = e.target.parentNode.data
            data.estoque = parseInt(data.estoque)
            data.qtd = parseInt(prompt(`Digite a quantidade desejada`))
            data.qtd = data.qtd == NaN ? 0 : data.qtd
console.log(data)            
            main_data.addProd.data.addItem(data)
    })


</script>