
<template>
    <style>
        #btnRelat{
            display: none;
        }

        #divBusca{
            display: none;
        }

        #tblComp tr:nth-child(even) {
            filter: brightness(80%);
        }    

        #tblComp tr:nth-child(odd) {
            filter: brightness(90%);
        }  
        
        #btnPagar{
            display: none;
        }

    </style>

    <div class="form-base">
        <h1>Contas a Pagar</h1>

        <fieldset>
            <legend>Busca</legend>
            <div id="divBusca" class="inline">
                <label for="edtBusca">por:</label>
                <select id="cmbBusca">
                    <option value="CLI.nome" signal="LIKE"selected>Todos</option>
                    <option value="CLI.cnpj_cpf" signal="LIKE">CNPJ/CPF</option>
                    <option value="CLI.fantasia" signal="LIKE">Nome Cliente</option>
                    <option value="SAL.quitado" signal="=" val="1">Pago</option>
                    <option value="SAL.quitado" signal="=" val="0">Aberto</option>
                </select>
                <input type="text" id="edtBusca" onkeypress="return getEnter(event, 'btnBusca')">
                <button id="btnNovo" class="btnAdd" >+</button>
            </div>            
            <div class="inline center-itens">
                <div class="ckBOX">
                    <label for="ckbData">Início/Final</label>
                    <input type="checkbox" id="ckbData" checked>
                </div>
                <input type="date" id="edtIni">
                <input type="date" id="edtFin">
                <button id="btnBusca">Busca</button>
            </div>  
            <table id="tblComp"></table>
            <button id="btnPagar">Baixar</button>
        </fieldset>
    
    </div>


</template>
<script>
  
    function hideCkb(hide){
        const ckb = document.querySelectorAll('.ckb-hide')
        for(let i=0; i<ckb.length; i++){
            ckb[i].style.display = hide ? 'none' : 'block'
        }
    }

    document.querySelector('#edtIni').value =  today.iniMonth()
    document.querySelector('#edtFin').value =  today.finMonth()

    if(localStorage.getItem('access')=='10'){
        document.querySelector('#divBusca').style.display = 'flex'
    }else{
        document.querySelector('#cmbBusca').value = 'USR.nome'
        document.querySelector('#edtBusca').value = localStorage.getItem('nome')
    }

    main_data.cont_pagar.busca = function (){

        const sel = document.querySelector('#cmbBusca')
        let field = sel.value
        const signal = sel.options[sel.selectedIndex].getAttribute('signal')
        let value = sel.options[sel.selectedIndex].hasAttribute('val') ? sel.options[sel.selectedIndex].getAttribute('val') : document.querySelector('#edtBusca').value.trim()
        value = signal=='LIKE' ? `"%${value}%"` : signal=='IN' ? `(${value})` : sel.value=='true'? sel.value : `"${value}"`

        if(sel.value == 'CLI.cnpj_cpf'){
            field = '(' + field
            value = `"${getCPF(document.querySelector('#edtBusca').value)}%" OR CLI.cnpj_cpf LIKE "${getCNPJ(document.querySelector('#edtBusca').value)}%")`
        }

        const date_fin = new Date(document.querySelector('#edtFin').value)
        date_fin.change(2)

        const ckb = document.querySelector('#ckbData').checked
        const tbl = document.getElementById('tblComp')
        const params = new Object;
            params.field = field
            params.signal = signal
            params.value = value
            params.td_origem = 'tb_compra'
            params.ini = ckb ? document.querySelector('#edtIni').value : '0000-00-00';
            params.fin = ckb ? date_fin.getFormatDate() : '2100-12-31';        

        const myPromisse = queryDB(params,59);

        myPromisse.then((resolve)=>{
            if(resolve.trim() != ""){
                const json = JSON.parse(resolve);
                tbl.innerHTML=''
                json.length > 0 ? tbl.head('ckb-all|ckb-hide,Data,Cliente,Tipo|mobHide,Status,Saldo') : 0
                const tot = new Object
                tot.blank = ''
                tot.lblTot = 'TOTAL'
                tot.val = 0
                tot.id_cli = json[0].id_cliente
                document.querySelector('#btnPagar').style.display = 'block'
                let hide = false                
                for(let i=0; i<json.length;i++){
                    if(json[i].id_cliente != tot.id_cli){
                        document.querySelector('#btnPagar').style.display = 'none'
                        hide = true
                    }
                    if(json[i].tipo=='PAGAR'){
                        json[i].valor = -1 * parseFloat(json[i].valor)
                    }
                    tot.val += json[i].quitado=='0' ? parseFloat(json[i].valor) : 0 // ACUMULA NO TOTAL
                    tbl.plot(json[i],'quitado|ckb-hide,data,fantasia,tipo|mobHide,quitado,valor','ckb,date,Upp,Upp,cha 0=ABERTO 1=QUITADO,R$.',true, !parseInt(json[i].quitado))
                }                
                tbl.plot(tot,'blank|ckb-hide,blank,blank,blank|mobHide,lblTot,val','str,str,str,str,Upp,R$.') 
                hideCkb(hide)
            }        
        })
    }

    document.querySelector('#btnBusca').addEventListener('click',()=>{
        main_data.cont_pagar.busca()
    })
   

    document.querySelector('#tblComp').addEventListener('click',(e)=>{
        const index = Array.from(e.target.parentNode.children).indexOf(e.target)
        if(index > 0){
            data = e.target.parentNode.data
            data.mode = 'edit'
            data.origem = 'cont_pagar'
            data.saida = dataBR(data.data) + ' ' +horaBR(data.data)
            openHTML('viewSaldo.html','pop-up',data.saida,data)
        }else{            
            try{
                quit = e.target.parentNode.data.quitado                
                e.target.children[0].checked = quit=='0' ? !e.target.children[0].checked : false
            }catch{
                quit = e.target.parentNode.parentNode.data.quitado
                e.target.checked = quit=='0' ? e.target.checked : false
            }    
        }
    })

    document.querySelector('#btnNovo').addEventListener('click',()=>{
        openHTML('viewSaldo.html','pop-up','Lançamento Financeiro',{origem : 'cont_pagar',tipo : 'PAGAR', mode:"novo"})
    })

    document.querySelector('#btnPagar').addEventListener('click',()=>{

        tbl = document.querySelector('#tblComp')
        main_data.cont_pagar.data = new Object                
            main_data.cont_pagar.data.id_cliente = tbl.rows[1].data.id_cliente
            main_data.cont_pagar.data.nome = tbl.rows[1].data.fantasia
            main_data.cont_pagar.data.tbl = []
//        let total = 0
        let credito = 0
        let debito = 0
        let go = false
        for(let i=1; i<tbl.rows.length-1; i++){
            const check = tbl.rows[i].cells[0].children[0].checked
            const data = tbl.rows[i].data

            if(check){  
                if(tbl.rows[i].data.quitado == '0'){
                    const val = parseFloat(tbl.rows[i].data.valor)
                    if(val < 0){
                        debito += val
                    }else{
                        credito += val
                    }
                    go = true
                }
//                total += tbl.rows[i].data.quitado == '0' ? parseFloat(tbl.rows[i].data.valor) : 0
                main_data.cont_pagar.data.tbl.push(data)
/*                
                if((credito + debito) != 0){
                    go = true
                }
*/                
            }

        }
        main_data.cont_pagar.data.credito = credito
        main_data.cont_pagar.data.debito = debito
        main_data.cont_pagar.data.total = Math.abs(credito + debito)
        main_data.cont_pagar.data.mode = 'pagar'
        if(go){
            if(credito >= Math.abs(debito)){
                if (confirm('Deseja quitar estes títulos?')) {
                    const tbl = main_data.cont_pagar.data.tbl
                    let cliente
                    for(let i=0; i<tbl.length; i++){
                        const params_saldo = new Object; 
                            params_saldo.id = tbl[i].id
                            params_saldo.quitado = 1              
                        const myPromisse_saldo = queryDB(params_saldo,50);
                        myPromisse_saldo.then(()=>{
                            main_data.cont_pagar.busca()
                        })
                        cliente = tbl[i]
                    }

                    const saldo = credito + debito
                    if(saldo > 0){
                        const params_vale = new Object; 
                            params_vale.id = 'DEFAULT'
                            params_vale.id_cliente = cliente.id_cliente
                            params_vale.data = today.getFormatDate()
                            params_vale.valor = saldo
                            params_vale.tipo = 'SALDO'
                            params_vale.quitado = 0
                            params_vale.obs = 'CREDITO DE BAIXAS EXECUTADAS'
                            params_vale.id_origem = cliente.id_origem
                            params_vale.tb_origem = cliente.tb_origem
                        const myPromisse_vale = queryDB(params_vale,58);
                        myPromisse_vale.then(()=>{
                            main_data.cont_pagar.busca()
                        })

                    }
                }
            }else{
                openHTML('lanc_finan.html','pop-up','Lançamento Financeiro',main_data.cont_pagar.data)
            }

        }else{
            alert('Favor selecionar algum pagamento em aberto para prosseguir')
        }
    })

</script>