
<template>
    <style>


    </style>

<fieldset>
    <legend id="lgdItem"></legend>

    <div class="inline">
        <label for="edtQtd">Qtd</label>
        <input type="text" id="edtQtd" onkeyup="return valFloat(this)">
        <label for="edtPreco">Preço</label>
        <input type="text" id="edtPreco" onkeyup="return valFloat(this)">
    </div>
    <div class="inline">
        <button id="btnSaveItem">Salvar</button>
        <button id="btnDelItem">Deletar</button>
    </div>
</fieldset>


</template>
<script>

    document.querySelector('#lgdItem').innerHTML = main_data.edtProd.data.nome
    document.querySelector('#edtQtd').value = main_data.edtProd.data.qtd
    document.querySelector('#edtPreco').value = parseFloat(main_data.edtProd.data.val_unit).toFixed(2)


    document.querySelector('#btnSaveItem').addEventListener('click',()=>{

        main_data.edtProd.data.edtItem()


    })

    document.querySelector('#btnDelItem').addEventListener('click',()=>{

        if (confirm('Deseja realmente deletar este ítem?')) {
            main_data.edtProd.data.delItem()
        }
  
    })


</script>