<template>
    <style>
        #frame{
            display: flex;
            flex-direction: column;
        }
        #buttons{
            display: flex;
            flex-direction: row;
        }
    </style>

    <div id="frame">
        <label for="edit" id="lblMain"></label>
        <input type="text" id="edtMain" inputmode="numeric">
    </div>
    <div id="buttons">
        <button id="btnOk">OK</button>
    </div>

</template>
<script>

    document.querySelector('#edtMain').focus()

    document.querySelector('#lblMain').innerHTML = main_data.prompt.data.label
    document.querySelector('#edtMain').addEventListener('keyup',()=>{
        main_data.prompt.data.valid(document.querySelector('#edtMain'))
    })
    document.querySelector('#btnOk').addEventListener('click',()=>{
        main_data.prompt.data.run()
    })


</script>