
<template>
    <style>

    </style>
 
        <h1>Venda de Material</h1>

        <fieldset>
            <legend>Material Disponível</legend>
            <table id="tbl-itens_etq"></table>
        </fieldset>
    

        <fieldset>
            <legend>Venda</legend>
            <div class="inline">
                <label for="cmbCli_venda">Cliente</label>
                <select id="cmbCli_venda"></select>
                <button id="btnNovoCli" class="btnAdd" >+</button>
            </div>
            <table id="tbl-itens_venda"></table>
            <button id="btnVenda">Gerar Venda</button>
        </fieldset>



</template>
<script>
 



    main_data.venda.fillClientes = ()=>{
        const params_cli = new Object;
            params_cli.field = 'modal'
            params_cli.signal = '!='
            params_cli.value = '"FORN"' 
        fillCombo('cmbCli_venda',params_cli,1,['id','fantasia'], '#')
    }

    main_data.venda.fillItens = ()=>{
        const params = new Object;
            params.id_local = main_data.viewLocal.data.id      
        const myPromisse = queryDB(params,29);
        myPromisse.then((resolve)=>{
            main_data.venda.data.itens = JSON.parse(resolve)
            const tbl = document.querySelector('#tbl-itens_etq')
            tbl.head('Descrição,Und.|mobHide,Qtd.,Preço')            
            for(let i=0; i<main_data.venda.data.itens.length;i++){
                tbl.plot(main_data.venda.data.itens[i],'nome,und|mobHide,qtd_tot,val_venda','Upp,Upp,str,R$.')
            }

        })
    }
 
    main_data.venda.fillTemp = ()=>{
        const params = new Object;
            params.id_local = main_data.viewLocal.data.id       
        const myPromisse = queryDB(params,35);
        myPromisse.then((resolve)=>{
            main_data.venda.data.itens_temp = JSON.parse(resolve)
            const tbl = document.querySelector('#tbl-itens_venda')
            tbl.head('Descrição,Und.|mobHide,Qtd.,Preço,Sub-Total')            
            for(let i=0; i<main_data.venda.data.itens_temp.length;i++){
                tbl.plot(main_data.venda.data.itens_temp[i],'nome,und|mobHide,qtd,val_venda,total','Upp,Upp,str,R$.,R$.')
            }

        })
    }

    main_data.venda.fillItens()
    main_data.venda.fillTemp()
    main_data.venda.fillClientes()

    document.querySelector('#btnNovoCli').addEventListener('click',()=>{
        openHTML('viewCliente.html','pop-up','Adicionar Cliente', {mode : 'vendedor', callby:'venda'})
    })

    document.querySelector('#tbl-itens_etq').addEventListener('click',(e)=>{
            const data = e.target.parentNode.data
            const qtd = prompt(`Digite a quantidade desejada`)
            data.qtd_venda = qtd != null ? getFloat(qtd) : 0
            if(parseFloat(data.qtd_venda) > parseFloat(data.qtd_tot)){
                alert('Quantidade maior que o estoque disponível')
            }else if(data.qtd_venda > 0){
                const params = new Object;
                    params.id = 'DEFAULT'
                    params.id_local = main_data.viewLocal.data.id
                    params.id_prod = data.id_prod
                    params.nome = data.nome
                    params.qtd = data.qtd_venda
                    params.und = data.und
                    params.val_venda = data.val_venda
                const myPromisse = queryDB(params,36); 
                myPromisse.then((resolve)=>{
                    main_data.venda.fillTemp()
                }) 


            }
    })

    document.querySelector('#tbl-itens_venda').addEventListener('click',(e)=>{
        
        const data = e.target.parentNode.data
        
        data.edtItem = function(){
            const params = new Object;
                params.id = main_data.edtProd.data.id 
                params.id_local = main_data.edtProd.data.id_local
                params.id_prod = main_data.edtProd.data.id_prod
                params.nome = main_data.edtProd.data.nome
                params.qtd = document.querySelector('#edtQtd').value
                params.und = main_data.edtProd.data.und
                params.preco = document.querySelector('#edtPreco').value
            const myPromisse = queryDB(params,36);
                            
            myPromisse.then((resolve)=>{
                if(resolve.trim() != ""){
                    main_data.venda.fillTemp()
                    closeModal('edtProd')
                }  
            })                                
        }

        data.delItem = function(){               
            const params = new Object;
                params.id = main_data.edtProd.data.id
                params.hash = localStorage.getItem('hash')                
            const myPromisse = queryDB(params,37);
            myPromisse.then((resolve)=>{
                if(resolve.trim() != ""){
                    main_data.venda.fillTemp()
                    closeModal('edtProd')
                }  
            }) 
        }

        data.max = 0
        for(let i=0; i<main_data.venda.data.itens.length; i++){
            if(data.id_prod == main_data.venda.data.itens[i].id_prod){
                data.max = main_data.venda.data.itens[i].qtd
            }
        }

        data.callby = 'venda'
        data.edtVal = data.val_venda
        if(data.id != undefined){
            openHTML('edtProd.html','pop-up','Alteração de Ítem',data)
        }
        
    })

    document.querySelector('#btnVenda').addEventListener('click',()=>{

        if(document.querySelector('#cmbCli_venda').value.trim() != ''){
            if (confirm('Confirma esta venda?')) {
                const now = new Date
                const params = new Object; // cria venda
                    params.id = 'DEFAULT' 
                    params.id_cliente = document.querySelector('#cmbCli_venda').value
                    params.id_resp = localStorage.getItem('id_user')
                    params.status = 'FECHADO'
                    params.obs = `Venda realizada dia ${now.getFullDate()} pelo usuário ${localStorage.getItem('username')}.`
                    params.data = now.getFullDateTime()
                const myPromisse = queryDB(params,11);
                               
                myPromisse.then((resolve)=>{
                    if(resolve.trim() != ""){
                        const sel = document.querySelector('#cmbCli_venda') 
                        for(let i=0; i<main_data.venda.data.itens_temp.length; i++){
                            const params_itens = new Object; // adiciona item venda
                                params_itens.id = 'DEFAULT' 
                                params_itens.id_venda = '(SELECT MAX(id) FROM tb_venda)'
                                params_itens.id_prod = main_data.venda.data.itens_temp[i].id_prod
                                params_itens.qtd = main_data.venda.data.itens_temp[i].qtd
                                params_itens.und = main_data.venda.data.itens_temp[i].und
                                params_itens.val_unit = main_data.venda.data.itens_temp[i].val_venda
                            const myPromisse_itens = queryDB(params_itens,14);

                            const params_update = new Object // atualiza estoque                                
                                params_update.id_local = main_data.viewLocal.data.id
                                params_update.id_prod = main_data.venda.data.itens_temp[i].id_prod
                                params_update.qtd = main_data.venda.data.itens_temp[i].qtd
                                 
                            const myPromisse_update = queryDB(params_update,38);

                            setLog(`Venda ${main_data.venda.data.itens_temp[i].qtd}Kg de ${main_data.venda.data.itens_temp[i].nome} por R$${main_data.venda.data.itens_temp[i].val_venda}  de ${sel.options[sel.selectedIndex].text} `)

                        }

                        const params_del_temp = new Object; // deleta venda temporaria
                            params_del_temp.id_local = main_data.viewLocal.data.id
                            params_del_temp.hash = localStorage.getItem('hash')
                        const myPromisse_del_itens = queryDB(params_del_temp,37);
                        myPromisse.then((resolve)=>{
                            alert('Venda Realizada com sucesso!')
                            main_data.viewLocal.fillItens()
                            closeModal('venda')
                        })

                    }  
                })               

            }
        }else{
            alert('Por favor, selecione um cliente para a venda.')
            document.querySelector('#cmbCli_venda').focus()
        }


    })


</script>