
<template>
    <style>
        #btnRelat{
            display: none;
        }

    </style>

    <div class="form-base">
        <h1>Viagens</h1>

        <fieldset>
            <legend>Busca</legend>

            <div class="inline">
                <label for="edtBusca">por:</label>
                <select id="cmbBusca">
                    <option value="VIA.id" signal=">=" val="0" selected>Todos</option>
                    <option value="VIA.aberta" signal="=" val="1">Aberta</option>
                    <option value="VIA.aberta" signal="=" val="0">Encerrada</option>
                    <option value="MOT.nome" signal="LIKE" >Motorista</option>
                    <option value="VEI.placa" signal="LIKE" >Placa Veículo</option>
                    <option value="VEI.modelo" signal="LIKE" >Modelo Veículo</option>
                </select>
                <input type="text" id="edtBusca" onkeypress="return getEnter(event, 'btnBusca')">
                <button id="btnBusca">Busca</button>
                <button id="btnNovo" class="btnAdd" >+</button>

            </div>
            <div class="inline center-itens">
                <div class="ckBOX">
                    <label for="ckbData">Início/Final</label>
                    <input type="checkbox" id="ckbData" checked>
                </div>
                <input type="date" id="edtIni">
                <input type="date" id="edtFin">
            </div>  


            <table id="tblComp"></table>
        </fieldset>
    
    </div>


</template>
<script>
  
    document.querySelector('#edtIni').value =  today.iniMonth()
    document.querySelector('#edtFin').value =  today.finMonth()

    main_data.viagens.busca = function (){
        const sel = document.querySelector('#cmbBusca')
        const field = sel.value
        const signal = sel.options[sel.selectedIndex].getAttribute('signal')
        const ckb = document.querySelector('#ckbData').checked
        let value = sel.options[sel.selectedIndex].hasAttribute('val') ? sel.options[sel.selectedIndex].getAttribute('val') : document.querySelector('#edtBusca').value.trim()
        value = signal=='LIKE' ? `"%${value}%"` : signal=='IN' ? `(${value})` : sel.value=='true'? sel.value : `"${value}"`

        const tbl = document.getElementById('tblComp')
        const params = new Object;
            params.field = field
            params.signal = signal
            params.value = value
            params.ini = ckb ? document.querySelector('#edtIni').value : '0000-00-00';
            params.fin = ckb ? document.querySelector('#edtFin').value : '2100-12-31';        

        const myPromisse = queryDB(params,25);

        myPromisse.then((resolve)=>{
            if(resolve.trim() != ""){
                const json = JSON.parse(resolve);
console.log(json)                
                let total = 0
                tbl.innerHTML=''
                json.length > 0 ? tbl.head('Data,Motorista,Placa|mobHide,Modelo|mobHide') : 0
                for(let i=0; i<json.length;i++){                                       
                    total +=  parseFloat(json[i].valor) // ACUMULA O TOTAL
                    tbl.plot(json[i],'data,nome,placa|mobHide,modelo|mobHide','date,Upp,Upp,Upp',true)                    
                }                
            }        
        })

    }


    document.querySelector('#btnBusca').addEventListener('click',()=>{
        main_data.viagens.busca()
    })
   

    document.querySelector('#tblComp').addEventListener('click',(e)=>{
        data = e.target.parentNode.data
        data.mode = 'edit'
        openHTML('viewViagem.html','pop-up',data.nome+' - '+dataBR(data.data),data)
    })

    document.querySelector('#btnNovo').addEventListener('click',()=>{
        data = new Object
        data.mode = 'new'
        openHTML('newViagem.html','pop-up',"Gerar Nova Viagem",data)
    })



</script>