<template>
    <style>

        .frm{
            display: flex;
            flex-direction: column;
        }
     
    </style>
  
    <fieldset class="frm">
        <legend>Veículos</legend>
        <div class="inline">
            <label for="edtModelo">Modelo:*</label>
            <input type="text" id="edtModelo" placeholder="Modelo" maxlength="20">
            <label for="edtAno">Ano:*</label>
            <input type="text" id="edtAno" placeholder="Ano" maxlength="4" onkeyup="return valInt(this)">
        </div>
        <div class="inline">
            <label for="cmbTipo">Tipo</label>
            <select id="cmbTipo">
                <option value="CAMINHÃO" selected>Caminhão</option>
                <option value="CARRETA">Carreta</option>
                <option value="UTILITARIO">Utilitário</option>
                <option value="CARRO">Carro</option>
                <option value="MOTO">Moto</option>
            </select>
            <label for="edtPlaca">Placa</label>
            <input type="text" id="edtPlaca" placeholder="Placa" maxlength="8" onkeyup="return valPlaca(this)">
            <label for="edtTara">Tara</label>
            <input type="text" id="edtTara" placeholder="Tara" onkeyup="return valFloat(this)" value="0">
        </div>

        <div class="inline">
            <button id="btnSave">Salvar</button>
            <button id="btnDel">Deletar</button>    
        </div>
    </fieldset>

</template>
<script>

    if(main_data.viewVeic.data.mode == 'edit'){
        document.querySelector('#edtModelo').value = main_data.viewVeic.data.modelo
        document.querySelector('#edtAno').value = main_data.viewVeic.data.ano
        document.querySelector('#edtPlaca').value = main_data.viewVeic.data.placa
        document.querySelector('#cmbTipo').value = main_data.viewVeic.data.tipo
        document.querySelector('#edtTara').value = main_data.viewVeic.data.tara
    }else{
        document.querySelector('#btnDel').style.display = 'none'
    }

    document.querySelector('#btnSave').addEventListener('click',()=>{
        if(checkField(['edtModelo','edtAno']) ){

            const params = new Object;
                params.id = main_data.viewVeic.data.mode == 'new' ? 'DEFAULT' : main_data.viewVeic.data.id
                params.ano = document.querySelector('#edtAno').value.trim()
                params.modelo = document.querySelector('#edtModelo').value.trim().toUpperCase()
                params.placa = document.querySelector('#edtPlaca').value
                params.tipo = document.querySelector('#cmbTipo').value
                params.tara = document.querySelector('#edtTara').value

            const myPromisse = queryDB(params,18);

            myPromisse.then((resolve)=>{
                main_data.veiculos.fillVeic()
                closeModal('viewVeic')
            })
        }        
    })

    document.querySelector('#btnDel').addEventListener('click',()=>{

        if (confirm('Deseja realmente deletar este veículo?')) {
            const params = new Object;
                params.id = main_data.viewVeic.data.id
                params.hash = localStorage.getItem('hash')

            const myPromisse = queryDB(params,19);
            myPromisse.then((resolve)=>{
                main_data.veiculos.fillVeic()
                closeModal('viewVeic')                
            })
        }
    })


</script>