
<template>
    <style>

        #tblLocal tr th{
            font-size: 0.9em;
            max-width: 20%;
        }

        .head-item{
            display: flex;            
        }

        .btnHide{
            display: none;
        }

        @media all and (max-width : 768px) {

            #btnComp{
                background-color: crimson;
                color: floralwhite;
                border-radius: 7px;
            }
        }

    </style>
    
    <fieldset id="fdsComp">
        <legend>Local</legend>
        <table id="tblLocal">
            <tr><th>Nome</th><td id="via-nome"></td></tr>
            <tr><th id="lblTipo">Tipo</th><td id="via-tipo"></td></tr>
            <tr><th>Peso</th><td id="via-peso"></td></tr>
            <tr><th>Valor R$</th><td id="via-valor"></td></tr>
        </table>
        <div class="inline edtButtons">
            <button id="btnEdit" class="btnHide">Editar</button>
            <button id="btnDel" class="btnHide" >Deletar</button>
        </div>
        <div class="inline">
            <button id="btnComp">Comprar</button>
            <button id="btnVend" class="btnHide">Vender</button>
            <button id="btnTrans" class="btnHide">Transferir</button>
        </div>

    </fieldset>
    <fieldset>
        <legend>Ítens</legend>
        <table id="tblItens-viagem"></table>
        <button id="btnImp" class="btnHide">Imprimir</button>



    </fieldset>

</template>
<script>
    const params_cli = new Object;
        params_cli.field = 'nome'
        params_cli.signal = 'LIKE'
        params_cli.value = '"%%"' 
    

    main_data.viewLocal.open = function open(){


        if(main_data.viewLocal.data.mode == 'edit'){
            document.querySelector('#via-nome').innerHTML = main_data.viewLocal.data.modelo.toUpperCase()
            document.querySelector('#via-tipo').innerHTML = main_data.viewLocal.data.local.toUpperCase()
            document.querySelector('#via-peso').innerHTML = ''
            document.querySelector('#via-valor').innerHTML = ''
            document.querySelector('#btnEdit').style.display = 'block'
            document.querySelector('#btnDel').style.display = 'block'
            document.querySelector('#btnTrans').style.display = 'block'
            document.querySelector('#btnVend').style.display = 'block'
            document.querySelector('#btnImp').style.display = 'block'

            main_data.viewLocal.fillItens()

        }else if (main_data.viewLocal.data.mode == 'motorista'){
            const params = new Object;
                params.hash = localStorage.getItem('hash')
                params.user = localStorage.getItem('username')
            const myPromisse = queryDB(params,28);
            myPromisse.then((resolve)=>{  
                const json = JSON.parse(resolve)            
                main_data.viewLocal.data.id = json[0].id_local
                main_data.viewLocal.data.limite = json[0].limite

                document.querySelector('#via-nome').innerHTML = json[0].modelo.toUpperCase()
                document.querySelector('#via-tipo').innerHTML = json[0].placa.toUpperCase()
                document.querySelector('#lblTipo').innerHTML = 'Placa'
                main_data.viewLocal.data.modelo = json[0].modelo.toUpperCase()


                main_data.viewLocal.fillItens()
            })


        }

        document.querySelector('#btnImp').disabled = false


    }

    main_data.viewLocal.fillItens = function fillItens(){
        const params = new Object;
            params.id_local = main_data.viewLocal.data.id       
        const myPromisse = queryDB(params,29);
        myPromisse.then((resolve)=>{
            main_data.viewLocal.data.itens = JSON.parse(resolve)
            const tbl = document.querySelector('#tblItens-viagem')
            const tot = new Object
                tot.blank = ''
                tot.label = 'TOTAL'
                tot.peso = 0
                tot.val = 0
            tbl.head('Descrição,Und.|mobHide,Qtd.,Preço Unit.,Sub Total')            
            for(let i=0; i<main_data.viewLocal.data.itens.length;i++){
                tbl.plot(main_data.viewLocal.data.itens[i],'nome,und|mobHide,qtd_tot,val_unit,total','Upp,Upp,str,R$.,R$.')
                tot.val += parseFloat(main_data.viewLocal.data.itens[i].total)
                tot.peso += parseFloat(main_data.viewLocal.data.itens[i].qtd_tot)
            }
            tbl.plot(tot,'blank,blank|mobHide,blank,label,val','str,str,str,Upp,R$.')
            document.querySelector('#via-valor').innerHTML = viewMoneyBR(tot.val.toFixed(2))
            document.querySelector('#via-peso').innerHTML = tot.peso.toFixed(2)+' Kg'
        })
    }

    main_data.viewLocal.open()

    document.querySelector('#btnEdit').addEventListener('click',()=>{
        main_data.viewLocal.data.mode = 'edit'
        openHTML('viewLocal_detal.html','pop-up','Edição', main_data.viewLocal.data)
    })

    document.querySelector('#btnDel').addEventListener('click',()=>{        
        if (confirm('Deseja realmente deletar este local de estoque?')) {            
            const params = new Object;
                params.id_local = main_data.viewLocal.data.id
                params.hash = localStorage.getItem('hash')
            const myPromisse = queryDB(params,19); // DELETA O local
            myPromisse.then((resolve)=>{
                main_data.local.fillLocal()
                closeModal('viewLocal')
            }) 
        }
    })

    document.querySelector('#btnComp').addEventListener('click',()=>{
        openHTML('compra.html','pop-up','D2Soft',{callby:'viewLocal'})
    })

    document.querySelector('#btnVend').addEventListener('click',()=>{        
        openHTML('venda.html','pop-up','D2Soft',{mode:'venda'})
    })

    document.querySelector('#btnTrans').addEventListener('click',()=>{        
        openHTML('transf.html','pop-up','Transferência de Material',{mode:'transf'})
    })

    document.querySelector('#tblItens-viagem').addEventListener('click',(e)=>{
  
            const data = e.target.parentNode.data
         
            data.edtItem = function(){
                const qtd_ant = main_data.edtProd.data.qtd
                const params = new Object;
                    params.id_local = main_data.edtProd.data.id_local
                    params.id_prod = main_data.edtProd.data.id_prod
                    params.qtd = document.querySelector('#edtQtd').value
                    params.und = main_data.edtProd.data.und
                    params.val_unit = document.querySelector('#edtPreco').value
                const myPromisse = queryDB(params,48);                               
                myPromisse.then((resolve)=>{
                    if(resolve.trim() != ""){
                        setLog(`Alteracao de estoque, de ${qtd_ant}Kg p/ ${document.querySelector('#edtQtd').value}Kg de ${main_data.edtProd.data.nome} em ${main_data.viewLocal.data.modelo}`)
                        main_data.viewLocal.fillItens()
                        closeModal('edtProd')
                    }  
                })            
                                    
            }
            data.delItem = function(){               
                const params = new Object;
                    params.id_local = main_data.edtProd.data.id_local
                    params.id_prod = main_data.edtProd.data.id_prod
                    params.hash = localStorage.getItem('hash')                
                const myPromisse = queryDB(params,34);
                myPromisse.then((resolve)=>{
                    if(resolve.trim() != ""){
                        setLog(`Ítem deletado: ${main_data.edtProd.data.nome} em ${main_data.viewLocal.data.modelo}`)
                        main_data.viewLocal.fillItens()
                        closeModal('edtProd')
                    }  
                }) 
            }
            
            data.callby = 'viewLocal'
            data.edtVal = data.val_unit
            if(data.id_local != undefined && main_data.viewLocal.data.mode != 'motorista'){
                openHTML('edtProd.html','pop-up','Alteração de Ítem',data)
            }
        
    })

    document.querySelector('#btnImp').addEventListener('click',()=>{
        main_data.viewLocal.data.callby = 'viewLocal'
        main_data.viewLocal.data.peso = document.querySelector('#via-peso').innerHTML
        print_compra(main_data.viewLocal.data)

    })

</script>