<template>
    <style>

        .frm{
            display: flex;
            flex-direction: column;
        }
     
    </style>
  
    <fieldset class="frm">
        <legend>Produto</legend>
        <div class="inline">
            <label for="edtNome">Nome*</label>
            <input type="text" id="edtNome" placeholder="Nome" maxlength="20">
            <label for="cmbUnd">Und.</label>
            <select id="cmbUnd"></select>
        </div>
        <div class="inline">
            <label for="edtQtd">Estoque</label>
            <input type="text" id="edtQtd" placeholder="Qtd em Estoque" onkeyup="return valFloat(this)">
            <label for="edtPreco">Preço Compra*</label>
            <input type="text" id="edtPreco" placeholder="Preço" onkeyup="return valFloat(this)">
            <label for="edtMargem">Markup(%)*</label>
            <input type="text" id="edtMargem" placeholder="Markup" onkeyup="return valFloat(this)">
        </div>        
        <div class="inline">
            <button id="btnSave">Salvar</button>
            <button id="btnDel">Deletar</button>    
        </div>
    </fieldset>

</template>
<script>

    if(main_data.viewProd.data.mode == 'edit'){
        document.querySelector('#edtNome').value = main_data.viewProd.data.nome
        document.querySelector('#edtQtd').value = main_data.viewProd.data.qtd
        document.querySelector('#edtPreco').value = main_data.viewProd.data.preco
        document.querySelector('#edtMargem').value = main_data.viewProd.data.margem
    }else{
        document.querySelector('#edtQtd').value = 0
        document.querySelector('#btnDel').style.display = 'none'
    }
    const params = new Object;
        params.hash = localStorage.getItem('hash');
    fillCombo('cmbUnd',params,4,['sigla','nome'], main_data.viewProd.data.mode == 'edit' ? main_data.viewProd.data.und :'' )

    document.querySelector('#btnSave').addEventListener('click',()=>{
        if(checkField(['edtNome','edtQtd','edtPreco','edtMargem']) ){

            const params = new Object;
                params.id = main_data.viewProd.data.mode == 'new' ? 'DEFAULT' : main_data.viewProd.data.id
                params.nome = document.querySelector('#edtNome').value.trim().toUpperCase()
                params.und = document.querySelector('#cmbUnd').value
                params.preco = document.querySelector('#edtPreco').value
                params.margem = document.querySelector('#edtMargem').value
                params.qtd = document.querySelector('#edtQtd').value

            const myPromisse = queryDB(params,8);

            myPromisse.then((resolve)=>{
                main_data.config.fillProd()
                closeModal('viewProd')
            })
        }        
    })

    document.querySelector('#btnDel').addEventListener('click',()=>{

        if (confirm('Deseja realmente deletar este Produto?')) {
            const params = new Object;
                params.id = main_data.viewProd.data.id
                params.hash = localStorage.getItem('hash')

            const myPromisse = queryDB(params,9);
            myPromisse.then((resolve)=>{
                main_data.config.fillProd()
                closeModal('viewProd')                
            })
        }
    })


</script>