
<template>
    <style>

        #tblPed{
            font-size: 0.9em;
        }

        #fdsRelat{
            display: none;
        }

        #btnVerNF{
            display: none;
        }

    </style>
    
    <fieldset id="fdsComp">
        <legend>Compra</legend>
        <table id="tblComp">
            <tr>
                <th class="mobHide">Cliente</th><th  class="mobHide">Data</th><th>Total</th>
            </tr>
            <tr>
                <td id="tdCli"  class="mobHide"></td><td id="tdData"></td><td id="tdTot"></td>
            </tr>
        </table>
        <div class="inline">
            <button id="btnEdit" disabled>Editar</button>
            <button id="btnDel" disabled>Deletar</button>
            <button id="btnFecha" disabled>Encerrar</button>
            <button id="btnVerNF">Ver NF</button>
        </div>
    </fieldset>
    <fieldset>
        <legend>Ítens</legend>
        <table id="tblItens"></table>
        <button id="btnAdd" disabled>Adicionar Ítens</button>
        <button id="btnImp" disabled>Imprimir</button>



    </fieldset>

</template>
<script>

    main_data.viewComp.open = function open(){
console.log(main_data.viewComp.data)        
        document.querySelector('#tdCli').innerHTML = main_data.viewComp.data.fantasia.toUpperCase()
        document.querySelector('#tdData').innerHTML = main_data.viewComp.data.data != null ? dataBR(main_data.viewComp.data.data) : '*'

        if(main_data.viewComp.data.status == 'ABERTO'){
            document.querySelector('#btnEdit').disabled = false
            document.querySelector('#btnDel').disabled = false
            document.querySelector('#btnAdd').disabled = false
            document.querySelector('#btnImp').disabled = false
            document.querySelector('#btnFecha').innerHTML = 'Encerrar'
        }else{
            document.querySelector('#btnFecha').innerHTML = 'Upload NF' 
            document.querySelector('#btnEdit').disabled = true
            document.querySelector('#btnDel').disabled = true
            document.querySelector('#btnAdd').disabled = true            
            document.querySelector('#btnImp').disabled = true
            if(main_data.viewComp.data.path !=  null){
                document.querySelector('#btnVerNF').style.display = 'block'
            }
        }
    }

    main_data.viewComp.fillItens = function fillItens(){
        const params = new Object;
            params.comp_id = main_data.viewComp.data.id
        const myPromisse = queryDB(params,13);
        myPromisse.then((resolve)=>{
            main_data.viewComp.data.itens = JSON.parse(resolve)
            document.querySelector('#btnFecha').disabled = main_data.viewComp.data.itens.length > 0 ? false : true
            const tbl = document.querySelector('#tblItens')
            const tot = new Object
                tot.blank = ''
                tot.label = 'TOTAL'
                tot.val = 0
            tbl.head('Cod.|mobHide,Descrição,Und.|mobHide,Qtd.,Preço Unit.,Sub Total')            
            for(let i=0; i<main_data.viewComp.data.itens.length;i++){
                tbl.plot(main_data.viewComp.data.itens[i],'id|mobHide,nome,und|mobHide,qtd,val_unit,total','int,Upp,Upp,str,R$.,R$.')
                tot.val += parseFloat(main_data.viewComp.data.itens[i].total)
            }
            tbl.plot(tot,'blank|mobHide,blank,blank|mobHide,blank,label,val','str,str,str,str,Upp,R$.')
            document.querySelector('#tdTot').innerHTML = viewMoneyBR(tot.val.toFixed(2))
        })
    }

    main_data.viewComp.open()
    main_data.viewComp.fillItens()

    document.querySelector('#btnEdit').addEventListener('click',()=>{
        openHTML('newComp.html','pop-up','Edição', main_data.viewComp.data)
    })

    document.querySelector('#btnDel').addEventListener('click',()=>{        
        if (confirm('Deseja realmente deletar esta compra?')) {            
            const params = new Object;
                params.id_compra = main_data.viewComp.data.id
                params.hash = localStorage.getItem('hash')
            const myPromisse = queryDB(params,15); // DELETA OS ÍTENS
            myPromisse.then((resolve)=>{
                const myPromisse_1 = queryDB(params,12); // DELETA A COMPRA
                myPromisse_1.then((resolve)=>{
                    main_data.compras.busca()
                    closeModal('viewComp')
                })
            }) 
        }
    })

    document.querySelector('#btnAdd').addEventListener('click',()=>{
        
        main_data.viewComp.data.addItem = function(data){
            const params = new Object;
                params.id = 'DEFAULT' 
                params.id_prod = data.id
                params.id_comp = main_data.viewComp.data.id
                params.qtd = data.qtd
                params.und = data.und
                params.preco = data.preco
            const myPromisse = queryDB(params,14);
            myPromisse.then((resolve)=>{
                if(resolve.trim() != ""){
                    main_data.viewComp.fillItens()
                    closeModal('addProd')
                }  
            })                
        }
        main_data.viewComp.data.callby = 'viewComp'
        openHTML('addProd.html','pop-up','Adicione um Produto',main_data.viewComp.data,[100,30])
    })

    document.querySelector('#btnFecha').addEventListener('click',()=>{
       
    })

    document.querySelector('#tblItens').addEventListener('click',(e)=>{
        if(main_data.viewComp.data.status == 'ABERTO'){
            const data = e.target.parentNode.data
            data.edtItem = function(){
                const params = new Object;
                    params.id = main_data.edtProd.data.id
                    params.id_prod = main_data.edtProd.data.id_prod
                    params.id_comp = main_data.edtProd.data.id_compra
                    params.qtd = document.querySelector('#edtQtd').value
                    params.und = main_data.edtProd.data.und
                    params.preco = document.querySelector('#edtPreco').value
                const myPromisse = queryDB(params,14);
                myPromisse.then((resolve)=>{
                    if(resolve.trim() != ""){
                        main_data.viewComp.fillItens()
                        closeModal('edtProd')
                    }  
                })                                
            }
            data.delItem = function(){               
                const params = new Object;
                    params.id = main_data.edtProd.data.id
                    params.hash = localStorage.getItem('hash')
                const myPromisse = queryDB(params,15);
                myPromisse.then((resolve)=>{
                    if(resolve.trim() != ""){
                        main_data.viewComp.fillItens()
                        closeModal('edtProd')
                    }  
                }) 
            } 
        }

    }
/*        
        if(main_data.viewComp.data.status == 'ABERTO'){
            const data = e.target.parentNode.data
            data.mode = 'edit'
            if(data.id != undefined){
                openHTML('edtProd.html','pop-up','Alteração de Ítem',data)
            }
        }
*/        
    })

    document.querySelector('#btnVerNF').addEventListener('click',()=>{

    })

    document.querySelector('#btnImp').addEventListener('click',()=>{

        print_compra(main_data.viewComp.data)

    })

</script>