
<template>
    <style>

        #tblViagem tr th{
            font-size: 0.9em;
            max-width: 20%;
        }

        .head-item{
            display: flex;
            
        }

    </style>
    
    <fieldset id="fdsComp">
        <legend>Compra</legend>
        <table id="tblViagem">
            <tr><th>Fornecedor</th><td id="via-cli"></td></tr>
            <tr><th>Comprador</th><td id="via-comp"></td></tr>
            <tr><th>Data</th><td id="via-data"></td></tr>
            <tr><th>Valor R$</th><td id="via-valor"></td></tr>
        </table>
        <div class="inline edtButtons">
            <button id="btnEdit">Editar</button>
            <button id="btnDel" disabled>Deletar</button>
        </div>

    </fieldset>
    <fieldset>
        <legend>Ítens</legend>
        <table id="tblItens"></table>
        <button id="btnAdd" disabled>Adicionar Ítens</button>
        <button id="btnImp">Imprimir</button>
    </fieldset>

</template>
<script>

    main_data.viewComp_detal.open = function open(){
        
        if(localStorage.getItem('access')!='10'){
            document.querySelector('#btnEdit').style.display = 'none'
            document.querySelector('#btnDel').style.display = 'none'
            document.querySelector('#btnAdd').style.display = 'none'
        }

        document.querySelector('#via-cli').innerHTML = main_data.viewComp_detal.data.nome.toUpperCase()
        document.querySelector('#via-comp').innerHTML = main_data.viewComp_detal.data.nome_comp.toUpperCase()
        document.querySelector('#via-data').innerHTML = main_data.viewComp_detal.data.saida
        document.querySelector('#via-valor').innerHTML = ''
        main_data.viewComp_detal.fillItens()
        
    }

    main_data.viewComp_detal.fillItens = function fillItens(){
        const params = new Object;
            params.id_viagem = main_data.viewComp_detal.data.id       
        const myPromisse = queryDB(params,44);
        myPromisse.then((resolve)=>{
            main_data.viewComp_detal.data.itens = JSON.parse(resolve)    
            const tbl = document.querySelector('#tblItens')
            const tot = new Object
                tot.blank = ''
                tot.label = 'TOTAL'
                tot.peso = 0
                tot.val = 0
            tbl.head('Descrição,Und.|mobHide,Qtd.,Preço Unit.,Sub Total')            
            for(let i=0; i<main_data.viewComp_detal.data.itens.length;i++){
                tbl.plot(main_data.viewComp_detal.data.itens[i],'nome,und|mobHide,qtd,val_unit,total','Upp,Upp,str,R$.,R$.')
                tot.val += parseFloat(main_data.viewComp_detal.data.itens[i].total)
                tot.peso += parseFloat(main_data.viewComp_detal.data.itens[i].qtd_tot)
            }
            tbl.plot(tot,'blank,blank|mobHide,blank,label,val','str,str,str,Upp,R$.')
            document.querySelector('#via-valor').innerHTML = viewMoneyBR(tot.val.toFixed(2))
//            document.querySelector('#via-peso').innerHTML = tot.peso.toFixed(2)+' Kg'
        })
    }

    main_data.viewComp_detal.open()
    
    document.querySelector('#btnEdit').addEventListener('click',()=>{

        if(document.querySelector('#btnDel').disabled){  
            document.querySelector('#btnDel').disabled = false
            document.querySelector('#btnAdd').disabled = false
        }else{
            document.querySelector('#btnDel').disabled = true
            document.querySelector('#btnAdd').disabled = true
        }
    
    
    })

    document.querySelector('#btnDel').addEventListener('click',()=>{        
        if (confirm('Deseja realmente deletar esta compra?')) {            
            const params = new Object;
                params.id_compra = main_data.viewComp_detal.data.id
                params.hash = localStorage.getItem('hash')
            const myPromisse = queryDB(params,50); // DELETA OS ÍTENS
            myPromisse.then((resolve)=>{
                const myPromisse_1 = queryDB(params,49); // DELETA A COMPRA
                myPromisse_1.then((resolve)=>{
                    setLog(`Compra deletada, Cliente:${main_data.viewComp_detal.data.fantasia}, valor R$${parseFloat(main_data.viewComp_detal.data.valor).toFixed(2)}, data da compra:${main_data.viewComp_detal.data.saida}`)
                    main_data.viewCompras.busca()
                    closeModal('viewComp_detal')
                })
            }) 
        }
    })

    document.querySelector('#btnAdd').addEventListener('click',()=>{
        
        main_data.viewComp_detal.data.addItem = (data)=>{
            const params = new Object;
                params.id = 'DEFAULT' 
                params.id_compra = main_data.viewComp_detal.data.id
                params.id_prod = data.id
                params.qtd = data.qtd
                params.und = data.und
                params.val_unit = data.preco
            const myPromisse = queryDB(params,45);
            myPromisse.then((resolve)=>{
                if(resolve.trim() != ""){
                    main_data.viewComp_detal.fillItens()
                    closeModal('addProd')
                }  
            })                
        }

        main_data.viewComp_detal.data.callby = 'viewComp_detal'
        openHTML('addProd.html','pop-up','Adicione um Produto',main_data.viewComp_detal.data,[100,30])

    })

    document.querySelector('#tblItens').addEventListener('click',(e)=>{
        if(!document.querySelector('#btnDel').disabled){
            const data = e.target.parentNode.data
         
            data.edtItem = function(){
                const params = new Object;
                    params.id = main_data.edtProd.data.id 
                    params.id_compra = main_data.edtProd.data.id_compra
                    params.id_prod = main_data.edtProd.data.id_prod
                    params.qtd = document.querySelector('#edtQtd').value
                    params.und = main_data.edtProd.data.und
                    params.val_unit = document.querySelector('#edtPreco').value
                const myPromisse = queryDB(params,45);

                myPromisse.then((resolve)=>{
                    if(resolve.trim() != ""){
                        main_data.viewComp_detal.fillItens()
                        closeModal('edtProd')
                    }  
                })                                
            }
            data.delItem = function(){               
                const params = new Object;
                    params.id = main_data.edtProd.data.id
                    params.hash = localStorage.getItem('hash')                
                const myPromisse = queryDB(params,46);
                myPromisse.then((resolve)=>{
                    if(resolve.trim() != ""){
                        main_data.viewComp_detal.fillItens()
                        closeModal('edtProd')
                    }  
                }) 
            }

            data.callby = 'viewComp_detal' 
            data.edtVal = data.val_unit                   
            if(data.id != undefined){
                openHTML('edtProd.html','pop-up','Alteração de Ítem',data)
            }
        }
    })

    document.querySelector('#btnImp').addEventListener('click',()=>{

        print_compra(main_data.viewComp_detal.data)

    })

</script>