
<template>
    <style>
        #btnRelat{
            display: none;
        }

    </style>

    <div class="form-base">
        <h1>Vendas</h1>

        <fieldset>
            <legend>Busca</legend>
            <div class="inline center-itens">
                <div class="ckBOX">
                    <label for="ckbData">Início/Final</label>
                    <input type="checkbox" id="ckbData" checked>
                </div>
                <input type="date" id="edtIni">
                <input type="date" id="edtFin">
                <button id="btnBusca">Busca</button>
            </div>  
            <table id="tblComp"></table>
        </fieldset>
    
    </div>


</template>
<script>
  
    document.querySelector('#edtIni').value =  today.iniMonth()
    document.querySelector('#edtFin').value =  today.finMonth()

    main_data.viewVendas.busca = function (){

        const ckb = document.querySelector('#ckbData').checked
        const tbl = document.getElementById('tblComp')
        const params = new Object;
            params.field = 'VEND.id'
            params.signal = '>='
            params.value = 0
            params.ini = ckb ? document.querySelector('#edtIni').value : '0000-00-00';
            params.fin = ckb ? document.querySelector('#edtFin').value : '2100-12-31';        

        const myPromisse = queryDB(params,10);

        myPromisse.then((resolve)=>{
            if(resolve.trim() != ""){
                const json = JSON.parse(resolve);                             
                let total = 0
                tbl.innerHTML=''
                json.length > 0 ? tbl.head('Data,Cliente,Vendedor,Valor') : 0
                for(let i=0; i<json.length;i++){                                       
                    total +=  parseFloat(json[i].valor) // ACUMULA O TOTAL
                    tbl.plot(json[i],'data,fantasia,nome_vend,valor','date,Upp,Upp,R$.',true)                    
                }                
            }        
        })

    }


    document.querySelector('#btnBusca').addEventListener('click',()=>{
        main_data.viewVendas.busca()
    })
   

    document.querySelector('#tblComp').addEventListener('click',(e)=>{
        data = e.target.parentNode.data
        data.mode = 'edit'
        data.saida = dataBR(data.data) + ' ' +horaBR(data.data)

        console.log(data)

        openHTML('viewVenda_detal.html','pop-up',data.saida,data)
    })

</script>